<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments Todo</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full grid place-items-center">
    <div id="app">
        <section v-show="inProgressAssignements.length" >
            <h1 class="font-bold mb-2">In progress</h1>
            <ul>
                <li v-for="assignment in inProgressAssignements" :key="assignment.id">
                    <label>
                        {{assignment.name}}
                        <input type="checkbox" v-model="assignment.completed">
                    </label>
                </li>
            </ul>
        </section>

        <section v-show="completedAssignments.length">
            <h1 class="font-bold mb-2">Completed</h1>
            <ul>
                <li v-for="assignment in completedAssignments" :key="assignment.id">
                    <label>
                        {{assignment.name}}
                        <input type="checkbox" v-model="assignment.completed">
                    </label>
                </li>
            </ul>
        </section>
    </div>

    <script>
        let app = {
            data() {
                return {
                    assignments: [
                        {'id': 1, 'name' : "Learn Vue", 'completed' : false},
                        {'id': 2, 'name' : "Do project with Vue", 'completed' : true},
                        {'id': 3, 'name' : "Submit the project", 'completed' : false}
                    ]
                }
            },

            computed: {
                
                inProgressAssignements() {
                    return this.assignments.filter(assignment => !assignment.completed);
                },

                completedAssignments() {
                    return this.assignments.filter(assignment => assignment.completed);
                }
        
            }
        };

        Vue.createApp(app).mount('#app')
    </script>
</body>
</html>